* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:'Poppins';
    color: #676669;
}
p{
    font-size:10px;
}
:root{
    --text-color:#676669;
    --primary-color: #000;
}
#main{
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
}
.navbar{
    width: 20%;
}
.tab-content{
    
    display:none;
}
.tab-content.page2{
    flex-direction: column;
    overflow:scroll;
    overflow-x: hidden; 
    padding: 35px 60px;
    background-color:rgb(231, 232, 243);
}
.tab-content.active{
    display: flex;
    width: 80%;
}
.body-content{
    width:70%;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e7e8f3;
}
.introduce{
    width: 30%;
    padding: 0 15px;
    background-color: #e7e8f3;
}
.header__body-content {
    display: flex;
    margin-bottom: 15px;
  }
  .prev-next {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .search{
    width: 85%;
    position: relative;
  }
  .search .bi{
    position: absolute;
    left: 25px;
    font-size: 18px;
    top: 5px;
  }
  .search input{
    width: 95%;
    margin-left: 14px;
    padding: 10px;
    padding-left: 35px;
    border-radius: 18px;
    border: navy        ;
  }
  .banner-heading{
    display: flex;
    align-items: center;
  }
  .banner-trending {
    font-size: 23px;
    font-weight: 500;
    color: #000;
  }
  .banner__body-content {
    margin-left: 18px;
  }
  .banner-img {
    height: 150px;
    padding: 10px 20px;
    border-radius: 0.6rem;
    position: relative;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0)), url(https://thanhlearnfe.github.io/sever/assets/img/banner.jpg) no-repeat center center/cover;
  }
  .banner-img h2{
    color: #000;
    font-size: 20px;
    margin-bottom:10px;
  }
  .banner-text-right {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 5px;
  }
  .banner-button span {
    padding: 5px 20px;
    border-radius: 14px;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    font-size: 10px;
  }
  .shortcuts {
    margin-top: 10px;
  }
  .shortcuts-items {
    display: flex;
    flex-wrap: wrap;
    margin-top:10px;
  }
  .shortcuts-item{
    display:flex;
    color: #000;
    font-weight: 500;
    font-size: 12px;
    margin-top: 5px;
    background: #fff;
    padding: 9px 12px;
    margin-left: 20px;
    border-radius: 30px;
  }
  .shortcuts-item img{
    width: 15px;
    height: 15px;
  }
  .shortcuts-heading {
    font-weight: 700;
    color: #000;
  }
  .farArtist-heading{
    font-weight: 700;
    color: #000;
    margin-top: 10px;
  }
  img.img-singer {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .farArtist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }
  p.info-singer-name {
    font-size: 12px;
    font-weight: 500;
    color: #000;
  }
  .farArtist-item {
    display: flex;
    justify-content: space-between;
  }
  .info-singers {
    display: flex;
  }
  .info-singer {
    margin-left: 10px;
  }
  .img-hightlight img{
    width: 100%;
    border-radius: 10px;
  }
  .img-hightlight {
    margin-top: 15px;
    padding: 10px;
    background: #ffff;
    width: 70%;
    margin-left: 15%;
    border-radius: 15px;
  }
  .text-fill{
    color: #000;
    font-weight: 500;
  }
  .banner-heading img{
    width: 3%;
  }
  .torisetsu-name{
   
  }
  .control .fa-volume-mute{
    display: none;
    color: #f00;
  
  }
  .control.mute .fa-volume-mute {
    display: inline-block;
    color: #f00;
  
  }
  .fa-volume-up{
    color: #f00;
  
  }
  .control.mute .fa-volume-up {
    display: none;
  
  }
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 15px 0px 15px;
    cursor: pointer;
  }
  
  .control .btn {
    padding: 15px;
    font-size: 18px;
  }
  .btn-next,
  .btn-prev {
    color: #000
  }
  .control .btn.active {
    color: #f00;
  }
  
  .btn-prev:hover{
    color: #f00;
  }
  .btn-next:hover{
    color: #f00;
  
  }
  .control .btn-toggle-play {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
  }
  #progress {
    width: 80%;
    -webkit-appearance: none;
    height: 3px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 4px;
  }
  #progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 6px;
    color: #fff;
    background-color: rgb(64, 60, 92);
    cursor: pointer;
    border-radius: 50%;
  }  
  
  .player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .song.active {
    background-color: #fff;
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  .song.active .author,
  .song.active .title {
    color: #000;
    font-size: 12px;
    font-weight: 500;
  
  }
  
  .song .body-song {
    flex: 1;
    padding: 0 16px;
    display:flex;
    justify-content: space-between;
  }
  
  .song .title,
  .song .singer,
  .song .albums,
  .song .times {
    color: #676669;
    font-size: 12px;
  }
  .body-song .title{
    flex:3;
  }
  .song .singer{
    flex:2;
  }
  .song .times{
    flex:1;
  }
  .scroll {
    overflow: scroll;
    margin-left: 18px;
    overflow-x: hidden;
  }
  .scroll::-webkit-scrollbar{
  height: 2px;
  width: 2px;
  background:rgba(19, 21, 53, 0.521);
  }
  .scroll::-webkit-scrollbar-thumb{
  height: 2px;
  width: 2px;
  background:#fff;
  border-radius: 10px;
  
  }
  .player{
  margin-left:18px;
  background:#fff;
  border-radius: 5px;
  }
  span{
  font-size: 12px;
  }
  .control-center {
  display: flex;
  align-items: center;
  flex:4;
  }
  .control-love {
  flex: 2;
  }
  .control-love i{
  padding: 5px;
    background: #c7e7f7;
    border-radius: 4px;
    margin-left: 3px;
  }
  .song-title {
  display: flex;
  margin-left: 18px;
  font-size: 12px;
  padding: 8px 16px;
  }
  .song-title .title{
  flex:3;
  padding-left: 18px;
  }
  .song-title .singer{
  flex:2;
  }
  .song-title .times{
  flex:1;
  }
  .navbar-responsive{
    display: none;
}
.navbar-container{
    width: 100%;
    height: 100vh;
}
i.bi.bi-sliders2-vertical.two {
    display: none;
}
@media(max-width:1024px){
    .navbar-responsive{
        background: #e7e8f3;
        display: flex;
        /* padding-left: 12px; */
        position: absolute;
        left: 40px;
        top: 15px;
        cursor: pointer;
        z-index: 2;
    }
    .navbar {
        display: none;
        position: absolute;
        background: #fff;
        z-index: 3;
        width: 200px;
    }
    .tab-content.active{
        width: 100% !important;
    }
    i.bi.bi-sliders2-vertical.two {
        display: block;
        cursor: pointer;
    }
    i.bi.bi-sliders2-vertical.one{
        display: none;
    }
    .comment{
        padding-left: 80px !important;
    }
    .container{
      width: 100% !important;
    }
    .admin{
      width: 100% !important;
      padding: 10px 80px;
    }
    
}
@media(max-width:660px){
  .introduce{
    display: none !important;
  }
  .body-content{
    width: 100% !important;
  }
}
@media(max-width:420px){
  i.bi.bi-arrows-angle-expand{
    display: none ;
  }
  .col{
    flex-direction: column;
  }
  .row{
    width: 100% !important;
    padding: 10px 10px !important;
  }
  .body-content{
    padding-left: 00px !important;
  }
  .control-center{
    flex: 7 1;
  }
  .comment-content{
    margin-top: 55px !important;
  }
  .comment-input{
    width: 80% !important;
  }
  .admin {
    padding: 10px 10px;
}
}


