.navbar-container {
  padding: 10px 15px;
}
.navbar-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.dots {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  /* padding-left: 10px; */
}
.logo .bi{
  color:#ffc876;
  font-size: 45px;
  margin-right: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo span{
  font-weight: 500;
}
.nav-items{
  margin-bottom: 15px;
}
.nav-item {
  display: flex;
  align-items: center;
  width: 90%;
  cursor: pointer;
}
.nav-item p{
  font-size: 12px;
}
.nav-item a{
  font-size: 12px;
}
.nav-item.active{
  background: #000;
  color: #fff;
  border-radius: 5px;
}
.nav-item i{
  padding: 10px 5px;
  padding-right: 15px;
}
.avatar{
  width: 30%;
  border-radius: 50%;
}
.footer-navbar {
  display: flex;
  align-items: center;
}
.container{
    width: 80%;
    background-color:#b2d8db;
    overflow:scroll;
}
.container_header {
    height: 70px;
    border-bottom:1px solid #403b3b21;
}
ul.navbar_menu{
    height: 32px;
    padding: 3px;
    margin: 0 auto;
    border-radius: 15px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0,0%,100%,0.3);
    width: fit-content;
    margin-bottom: 20px;
}
.navbar_menu-item{
    display: flex;
    height: 100%;
    cursor: pointer;
    min-width: 120px;
    padding: 7px 0;
    padding-bottom: 11px;
    text-align: center;
    border-radius: 15px;
}
.navbar_menu-item.active{
    background-color:   hsla(0,0%,100%,0.3);
    color: #239292;
}
.navbar_menu-item span{
    width: 100%;
    height: 12px;
    font-size: 12px;
    text-align: center;
    line-height: 1.2rem;
    text-transform: uppercase;
}
.col{
    padding: 10px 70px;
    display: flex;
}
.row{
    width: 50%;
}
.story__items{
    padding: 0 15px;
}
.story__item{
    margin-bottom: 30px;
}
.story__item-container{
    padding: 20px;
    border-radius: 8px;
    background:#b2d8db;
    box-shadow: 0 2px 10px rgba(66, 66, 66, 0.4);
}
.story__item-header {
    width: 100%;
    margin-bottom: 10px;
}
.story__header-info {
    margin-bottom: 10px;
    display: flex;
}
.story__header-info-img img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.story__header-info-name-singer {
    display: flex;
}
.story__header-info-singer {
    font-size: 13px;
    color: #000;
    display: flex;
}
.story__header-info-love {
    color: #239292;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}
.story__item-header-stt p{
    font-size: 13px;
    font-weight: 300;
    color: #000;
}
.story__item-img{
    width: 100%;
    border-radius: 5px;
}
.story__item-action{
    display:flex;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.action-comment{
    margin-left: 10px;
}
@media(max-width:420px){
 
  .col{
    flex-direction: column;
  }
  .row{
    width: 100% !important;
    padding: 10px 10px !important;
  }}