

.policy-table {
  color: grey;
  text-align: center;
}

.headings, .policy {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 1em;
}

.heading {
  flex-basis: 33.333%;
  font-weight: bold;
}

.policy {
  border-radius: 2em;
  background-color: white;
  margin-bottom: 20px;
  -moz-box-shadow: 0 0 3px grey;
  -webkit-box-shadow: 0 0 3px grey;
  box-shadow: 0 0 5px grey;
}

.policy span {
  flex-basis: 33.333%;
}

a {
  text-decoration: none;
  color: #4c4c4c;
}
  .admin{
    background-color: #e7e8f3;
    width: 80%;
    overflow: scroll;
    padding: 10px 30px;
  }
.admin h1{
  text-align: center;
}